
#pdf {
    position: absolute;
    top:0;
    right:0;
    height: 36px;
    &:focus, &:active {
        text-decoration: none;
    }
}


#definitif {
    width: 80px;
    height: 28px;
    z-index: 6000;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 40px;
    border-color: var(--main-color);
    border: 2px solid white;;;
    outline: 2px solid white;;;

    &:focus, &:active {
        border: 2px solid white;
        border-inline: none;
        outline: 2px solid white;;
        box-shadow: none;
    }

}


.cadre_activites_acquises {
    margin: 10px 0; border-radius: 15px;border: 3px solid #7769FE; padding: 4px; height: 100px; overflow-Y: auto;
}

.cadre_commentaire_complementaire {
    margin: 10px 0; border-radius: 15px;border: 3px solid #7769FE; padding: 4px; height: 400px; overflow-Y: auto;
    .badge_phrase_selected {
        padding: 2px;
        color: var(--main-color);
        border-radius: 5px;
        margin-bottom: 5px;;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
           opacity: 0.5;
        }
    }
}

#definitif:checked {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
  }

  .labelDefinitif {
    position: absolute;

    width: 300px;
    height: 34px;
    
    color: var(--main-color);
    font-weight: 700;
    padding-top: 2px;;
    font-size: 14px;
    z-index: 4;
    line-height: 30px;

    border: 2px solid var(--main-color);
    border-radius: 40px;
    &.labelDefinitifDroit {
        top: 4px;
        left: 0px;
        padding-left: 180px;    
        &.active {
            background-color: var(--main-color);   
            color: white;
        }
    }
    &.labelDefinitifGauche {
        top: 4px;
        left: -216px;
        padding-left: 15px;    
      &.active {
          background-color: var(--main-color);   
          color: white;
      }
    }
  }


#cahierView {
    #choixFiche {
        position: relative;
        padding-bottom: 20px;
        .btnSelection {
            height: 50px;;
            z-index: 10;
        } 
        .triangle-code{
            z-index: 8;
            position: absolute;
            top: 00px;
            left: 10px;
            height : 0;
            width : 0;
            
            border-right : 265px solid transparent;
            border-left : 265px solid transparent;
            transition: all 0.4s ease-in-out;
            &.left {
                left: 10px; 
            }
            &.right {
                left: 550px; 
            }
            &.deploy {
                top: 27px;
            }
        }        
    }

    .badge_phrase_container {
        height: 500px;
        overflow-y: auto;
        .badge_phrase {
            padding: 2px;
            color: var(--main-color);
            border-radius: 5px;
            margin-bottom: 5px;;
            font-size: 0.9rem;
            cursor: pointer;
            &:hover {
               opacity: 0.5;
            }
        }       
       
    }


    // .selectSectionFiche {
    //     padding: 16px;
    //     color: white;
    //     height: 70px;
    //     cursor: pointer;
    //     font-size: 12px;
    //     transition: all 0.4s ease-in-out;
    //     width: 90%;
    //     border-radius: 10px;
    //     margin: 2px 0;
    //     &.selected {
    //        margin-left: 30px;
    //     }
    //     &:hover {
    //         margin-left: 30px;
    //     }
    //   }  


}