#tableauDesPhrases {
    height: 300px;
    width: 100%;
    overflow-y: auto;
    color: grey;
    .controle span{
        cursor: pointer;
    }
}


.hide {
    display: none
}

#motCle td {
    width: 33%;
}
