.btnCommun{
    margin-top: 15px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #7769FE;
    border: 1px solid #7769FE;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    transition: all 0.5 ease-in-out;
    cursor: pointer;
    &.selected {
        font-weight: bolder;
        color: white;
        background-color: #7769FE;
    }
    &:hover {
        color: #6559FF;
        background-color: #E5E3FF;
        
    }    
} 

.test {
    color: red;
}

#editor3:hover {
    border-color: #7769FE;
}

.label_create_fiche {
    color: #7769FE;
    font-size: 24px;
    font-weight: bolder;
    border-bottom: 4px solid #7769FE;
}

//ceci est un commentaire 
.btnSelectionType {
    margin-top: 15px;
    border-radius: 25px;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    background-color: white !important;
    border: none !important;
    outline: none !important;    
    cursor: pointer;
    
    &.droit {
        border-radius: 15px 15px 0 0 !important;
        
    }
    &.violet {
        color: #7769FE;
        border: 1px solid #7769FE !important;
        &:hover {
            color: #6559FF !important;
            background-color: #E5E3FF;
            
        }
        &.selected {
            background-color: #6559FF !important;
            color: #E5E3FF !important;
            
        }

    }

    
} 
.btnSelection {
    text-decoration: none;
    margin-top: 15px;
    border-radius: 25px;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    border: none !important;
    outline: none !important;
    
    cursor: pointer;
    &.vert {
        color: #16C1BC;
        border: 1px solid #16C1BC;
        &:hover, &.selected {
            color:  #16C1BC !important;
            background-color: white !important;
            border: 1px solid #16C1BC !important;
        }

    }

    &.violet {
        background-color: #7769FE;
        color: white;
        border: 1px solid #7769FE !important;
        &:hover {
            color: #6559FF !important;
            background-color: #E5E3FF !important;
            border-color: #E5E3FF !important;

            
        }
        &.selected {
            background-color: #6559FF !important;
            color: #E5E3FF !important;
            
        }

    }

    
} 

.controle {
    border-bottom: 5px solid #7769FE;
    margin-bottom: 20px;
}

.btnAction {
    margin-top: 15px;
    border-radius: 25px;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #7769FE;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    border: none;
    outline: none;
    cursor: pointer;    
} 



.selectImage {
    cursor: pointer; width: 78px; height: 70px; margin: 2px 2px; overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#fichesView, #page_items, #cahierView, #phrasesView {
    #choixFiche {
        position: relative;
        padding-bottom: 20px;

    #pointerFiche {
        #pointer {
            height: 20px;
            background-color: red;
        }
    }    
      
    }



    .selectSectionFiche {
        
        color: white;
        height: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        transition: all 0.2s ease-in-out;
        width: 50px;
        border-radius: 10px;
        margin: 2px 8px;


        &.selected {
           padding: 10px;
           font-size: 13px;
           font-weight: bolder;
        }
        &:hover {
            padding: 5px;
            font-weight: bolder;
            
        }
      }  
      .tiret_selection {
        width: 50px;
        height: 4px;
        border-radius: 5px;
        margin-top: 8px;
    }


}



