
#choixFiche {
    color: red;
    td {
        text-align: center;
        width: 50%;
        &:hover {
            cursor: pointer;
            background: #0d6efd;
            color: white;
        }
    }

}


