.btnCommun{
    margin-top: 15px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #32363D;
    border: 1px solid #32363D;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    transition: all 0.5 ease-in-out;
    cursor: pointer;
    &.selected {
        font-weight: bolder;
    }
    &:hover {
        color: white;
        background-color: #32363D;
        
    }    
} 

.test {
    color: red;
}

//ceci est un commentaire 
.btnSelection {
    margin-top: 15px;
    border-radius: 25px;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    color: white !important;
    border: none !important;
    outline: none !important;
    
    cursor: pointer;
    &.vert {
        background-color: #16C1BC;
        &:hover, &.selected {
            color:  #16C1BC !important;
            background-color: white !important;
            border: 1px solid #16C1BC !important;
        }

    }
    &.violet {
        background-color: #7769FE;
        &:hover, &.selected {
            color:  #7769FE !important;
            background-color: white !important;
            border: 1px solid #7769FE !important;
        }

    }
    &.selected {
       font-weight: bolder;
    }
    
} 

.btnAction {
    margin-top: 15px;
    border-radius: 25px;;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #32363D;
    font-weight: 400;;
    width: fit-content;
    padding: 4px 24px;
    cursor: pointer;    
} 


#fichesView {
    #choixFiche {
        position: relative;
        padding-bottom: 60px;

    #pointerFiche {
        #pointer {
            height: 20px;
            background-color: red;
        }
    }    
      
    }



    .selectSectionFiche {
        
        color: white;
        height: 36px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        transition: all 0.2s ease-in-out;
        width: 90%;
        border-radius: 10px;
        margin: 2px 2px;
        &.selected {
           padding: 10px;
           font-size: 13px;
           font-weight: bolder;
        }
        &:hover {
            padding: 5px;
            font-weight: bolder;
            
        }
      }  


}



