#vitrineTopMenu {
    .menu-link-green {color:#81cd39; font-weight:bold !important;}
    .menu-link-purple {color:#a12892; font-weight:bold !important;}
    .menu-link-orange {color:#fd4f0a; font-weight:bold !important;}
    .menu-link-lightblue {color:#09b9f5; font-weight:bold !important;}
    .menu-link-red {color:#e3171a; font-weight:bold !important;}
    .menu-link-darkblue {color:#0a2fa4; font-weight:bold !important;}
}
