
body {
    background-color: #F4F9FF !important;
}
#calendrier_scolaire .day.actif:hover {
    transform: scale(1.1);
    font-weight: bolder;
    border: 1px solid grey;
    border-radius: 50%;
}
    .bloc_event {
        width: 100%;
        height: 700px;
        background-color: transparent;
        margin-top: 30px;
        padding: 5px;;
        overflow-y: auto;
        .event_container {
            width: 100%;
            height: 200px;
            background-color: white;
            margin: 5px 0;
            padding: 8px;;
            font-size: 12px;
        }
    }

#calendrier, #calendrier_scolaire, #calendrier_periodes {


    .month_bloc {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 10px 0;
        border-radius: 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        margin: 10px;
        background-color: white;

        overflow: hidden;
        .month_name {
            color: white;
            background-color: #7769FE;
            text-align: center;
        }

    }
    .month_days {
        display: flex;
        width: 300px;
        div {
            width:40px;
            text-align: center;
            display: flex;
            justify-content: center;

        }
    }

        .month_dates {
            display: flex; flex-wrap: wrap;width: 300px;
        }
        .day {
            color: #2C3034;display: flex;justify-content: center;align-items: center;width:39px;height: 39px;font-size:14px;
            
            &.event {
                border-bottom: 2px solid brown;
            }
            &.selected {
                border: 1px solid salmon;
                background-color: salmon;
                border-radius: 50%;
            }
            &.selected.limite {
                border: 1px solid rgb(118, 160, 118);;
                background-color: rgb(118, 160, 118);
                border-radius: 50%;
            }
            &.actif {
                cursor: pointer;
                //&:hover {
                //    background-color: #0a53be;
                //    border-radius: 50%;
                //    color: white;
                //}
            }
            &.p1 {
                background-color: red;
                color: white;
            }

            &.p2 {
                background-color: blue;
                color: white;
            }

            &.p3 {
                background-color: green;
                color: white;
            }
            &.conges {
                background-color: #ebd6b1;
                color: white;
            }
            &.anniversaire.feminin {
                color: deeppink;
                font-weight: bolder;

            }
            &.anniversaire.masculin {
                color: #52a5ff;
                font-weight: bolder;

            }
            &.ddj {

                background-color: var(--vert);
                font-weight: bolder;
                border-radius: 50%;

            }
            &.start {
                border-bottom-left-radius: 50%;
                border-top-left-radius: 50%;

            }
            &.between {


            }
            &.end {
                border-bottom-right-radius: 50%;
                border-top-right-radius: 50%;

            }
            &.select {
                border-radius: 50%;

            }

        }


}

.btnp1 {
    background-color: red;
    color: white;
}

.btnp2 {
    background-color: blue;
    color: white;
}

.btnp3 {
    background-color: green;
    color: white;
}


