@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/



#page_items  {


    .card_item {
        padding: 0;
        width: 240px;
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 10px;
        position: relative;
        overflow: hidden;
        color: #6759FF;
        border-radius: 15px;;

        &:hover {
            .action {
                transition: all 0.5 ease-in-out;
                top:0;                
            }

        }

        .notation {
            width: 100%;
            padding: 10px 0 !important;
            border-radius: 15px !important;
        }

        .action {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);;
            position: absolute;
            top: -100%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 16px;;

        }
        

        .perso_card {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 72px;
            span {
                margin-bottom: 2px;
            }
        }

        .card-footer {
            padding: 8px;;
            border-top: 5px solid black;
        }

        
        .card-footer2 {
            position: absolute;
            display: flex;
            align-items: center;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;;
            .autonome_0 {
                color: red
            }
            .autonome_1 {
                color: green
            }

        }

        .tableLevel {
            margin-right: 5px;
            font-size: 15px;
            td {
                background-color: white;
                color: red
            }

        }
            .card__image {
                //height: 50px;
                width: 100%;
                height: 50%;
                background-color: #eee;
            }
            .card__image img {
                width: 100%;

                height: 100%;
                display: block;
            }

    }

}