@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/


.fiche_container {
    display: flex;
    flex-wrap: wrap;
}



.fiche  {

    .card_fiche {
        background-color: #fff;
        padding: 0;
        width: 500px;
        height: 72px;
        display: flex;
        margin: 10px;
        .tableLevel {
            margin-right: 5px;
            font-size: 15px;
            td {
                background-color: white;
                color: red
            }

        }
            .card__image {
                //height: 50px;
                width: 100px;
                background-color: #eee;
            }
            .card__image img {
                width: 100%;

                height: 100%;
                display: block;
            }
            .card-footer {
                width: 400px;
            }
    }











}
